@inject ApplicationCore.Interfaces.IForexService forexService;

@page "/forex"

@namespace Web.Pages.Forex

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Forex Deals</h1>
            <RadzenLabel Text="Date from" Component="filterDateFrom" />
            <RadzenDatePicker @bind-Value="lastYear" DateFormat="d" Name="filterDateFrom" Style="margin-bottom:20px" Change="@(args => ChangeFilterDateFrom(args))" />

            <RadzenGrid Style="width: 1640px" AllowFiltering="true" AllowSorting="true" AllowPaging="true" PageSize="10"
                        Data="@forexList" TItem="Forex" ColumnWidth="180px">
                <Columns>
                    <RadzenGridColumn TItem="Forex" Property="Nmurexoid" Title="Murex" />
                    <RadzenGridColumn TItem="Forex" Property="Id" Title="Deal Key" Width="120" />
                    <RadzenGridColumn TItem="Forex" Property="Cdealnumber" Title="Ref" />
                    <RadzenGridColumn TItem="Forex" Property="Cticket" Title="Ticket" Width="100" />
                    <RadzenGridColumn TItem="Forex" Property="Dcontrdate" Title="Deal Date" Width="150">
                        <Template Context="data">
                            @String.Format("{0:d}", data.Dcontrdate)
                        </Template>
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="Forex" Property="Dvaluedate" Title="Value Date" Width="150">
                        <Template Context="data">
                            @String.Format("{0:d}", data.Dvaluedateb)
                        </Template>
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="Forex" Property="Ccontrcode" Title="Counterparty" />
                    <RadzenGridColumn TItem="Forex" Property="Bswap" Title="SWAP" Width="100" />
                    <RadzenGridColumn TItem="Forex" Property="Ccurrcodeb" Title="Buy" Width="110" />
                    <RadzenGridColumn TItem="Forex" Property="Nsumb" Title="Bought Sum" Width="150" />
                    <RadzenGridColumn TItem="Forex" Property="Nrate" Title="Rate" Width="100" />
                    <RadzenGridColumn TItem="Forex" Property="Ccurrcodes" Title="Sell" Width="110" />
                    <RadzenGridColumn TItem="Forex" Property="Nsums" Title="Sold Sum" Width="150" />
                </Columns>
            </RadzenGrid>



            <div class="row">
                <div class="col">
                    <button class="btn btn-success" @*@onclick="AddForex" *@>Add New Forex</button>
                </div>
            </div>
        </div>
    </div>
</div>


@code {


    private List<ApplicationCore.Models.Forex> forexList;
    DateTime lastYear = DateTime.Now.AddDays(-500);

    protected override async Task OnInitializedAsync()
    {

        forexList = await forexService.ListAsyncFromDate(lastYear);

    }


    async void ChangeFilterDateFrom(DateTime? dateFrom)
    {
        if (dateFrom != null)
        {
            DateTime date = (DateTime)dateFrom;
            forexList = await forexService.ListAsyncFromDate(date);
        }
    }
}