@page "/"

<h1>Actual Links</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <RadzenCard Style="width:300px; margin-bottom: 20px; height:100px;">
                <div class="row">
                    <div class="col">
                        <div><h2><a href="/depo">MM Deals</a></h2></div>
                    </div>
                </div>
            </RadzenCard>
            <RadzenCard Style="width:300px; margin-bottom: 20px; height:100px;">
                <div class="row">
                    <div class="col">
                        <div><h2><a href="/forex">Forex Deals</a></h2></div>
                    </div>
                </div>
            </RadzenCard>
        </div>
        <div class="col">
            <RadzenCard Style="width:300px; margin-bottom: 20px; height:100px;">
                <div class="row">
                    <div class="col">
                        <div><h2><a href="/depo">Add New Deal</a></h2></div>
                    </div>
                </div>
            </RadzenCard>
            <RadzenCard Style="width:300px; margin-bottom: 20px; height:100px;">
                <div class="row">
                    <div class="col">
                        <div><h2><a href="/forex">Forex Deals</a></h2></div>
                    </div>
                </div>
            </RadzenCard>
        </div>
    </div>
</div>




