@inject ApplicationCore.Interfaces.IDepoService depoService;
@page "/depo"


@namespace Web.Pages.DepoList

<div class="container-fluid">
    
            <h2>MM Deal List</h2>
        
                <RadzenGrid Style="width: 1080px" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            FilterMode="FilterMode.Advanced" AllowSorting="true"
                            Data="@depoList" TItem="Depo" ColumnWidth="180px">
                    <Columns>
                        <RadzenGridColumn TItem="Depo" Property="Nmurexoid" Title="Murex Original Id" />
                        <RadzenGridColumn TItem="Depo" Property="Id" Title="Deal Key" />
                        <RadzenGridColumn TItem="Depo" Property="Cdealnumber" Title="Ref" />
                        <RadzenGridColumn TItem="Depo" Property="Cticket" Title="Ticket" />
                        <RadzenGridColumn TItem="Depo" Property="Dcontrdate" Title="Deal Date" />
                        <RadzenGridColumn TItem="Depo" Property="Dvaluedate" Title="Start Date" />
                        <RadzenGridColumn TItem="Depo" Property="Dvaluedate2" Title="Marturity Date" />
                        <RadzenGridColumn TItem="Depo" Property="Ccontrcode" Title="Counterparty" />
                        <RadzenGridColumn TItem="Depo" Property="Ccurrcode" Title="Currency" />
                        <RadzenGridColumn TItem="Depo" Property="Nsum" Title="Sum" />
                    </Columns>
                </RadzenGrid>

          
            @*<Web.Pages.DepoList.DepoCreate @ref="CreateComponent"></Web.Pages.DepoList.DepoCreate>*@
            <div class="row">
                <div class="col">
                    <a class="btn btn-success  mb-2" href="/create-depo" target="_blank">Add New Deal</a>
                </div>
            </div>
        </div>


@code {

    private List<Depo> depoList;
    private DepoCreate CreateComponent { get; set; }


    protected override async Task OnInitializedAsync()
    {

        depoList = await depoService.ListLastYearAsync();
    
    }

}